/* ShowCard Component Styles */
.list-group-item.active {
  background-color: transparent !important;
  border-color: rgba(255, 255, 255, 0.55) !important;
}

.nav-link[title="information"] {
  border-left-color: #495057 !important;
  border-right-color: #495057 !important;
  border-top-color: #495057 !important;
}

.nav-link[title="casts"] {
  border-left-color: #495057 !important;
  border-right-color: #495057 !important;
  border-top-color: #495057 !important;
}

.show-title {
  font-size: 16px !important;
  margin-left: 0px !important;
}

@media screen and (min-width: 375px) {
  .show-title {
    font-size: 18px !important;
    margin-left: 10px !important;
  }
}

@media screen and (min-width: 768px) {
  .show-title {
    font-size: 16px !important;
    margin-left: 0px !important;
  }
}

@media screen and (min-width: 992px) {
  .show-title {
    font-size: 18px !important;
    margin-left: 10px !important;
  }
}

@media screen and (min-width: 1200px) {
  .show-title {
    font-size: 18px !important;
    margin-left: 15px !important;
  }
}

.show-imdb-link {
  width: 100%;
}

.show-release-years, .show-imdb-link {
  background-color: transparent !important;
  border-color: #495057 !important;
  padding: 7.5px 10px !important;
  color: #DEE2E6 !important;
}

.show-release-years:hover {
  cursor: default !important;
}

.show-imdb-link:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.show-summary {
  padding: 10px !important;
  text-align: justify !important;
  line-break: anywhere !important;
}

.show-creator {
  border: 1px solid #495057 !important;
  padding: 15px !important;
  border-radius: 10px !important;
}

.number-of-seasons, .number-of-episodes {
  border-radius: 50% !important;
  border: 1px solid #495057 !important;
  width: 35px !important;
  height: 35px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 12px !important;
}

.cast-name {
  background-color: #212529;
  font-size: 15px;
  padding: 5px;
  font-weight: normal;
  border-radius: 7.5px;
  letter-spacing: 1px;
  border: 1px solid #fff;
  line-height: 25px;
}
