/* Filter Component Styles */
.filter {
  border: 1px solid rgba(255, 255, 255, 0.55) !important;
}

.find {
  border: 1px solid #495057 !important;
}

.modal-header, .modal-footer {
  border: 0 !important;
}
