/* Search Component Styles */
.form-control {
  border: 1px solid rgba(255, 255, 255, 0.55) !important;
}

.form-control:focus {
  border: 1px solid #fff !important;
  box-shadow: none !important;
}

@media screen and (min-width: 576px) {
  .form-control {
    width: 350px !important;
  }
}

button.search {
  border: 1px solid rgba(255, 255, 255, 0.55) !important;
}
